* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Belanosima', sans-serif;
}
body {
    width: 1000px;
    margin: 0 auto;
    background-color: rgba(157, 60, 4, 0.29);
    box-shadow: 3px 5px 3px rgb(99, 97, 97);
}
.container-header {
    max-width: 1440px;
    margin: 0 auto;
    background-color: brown;
    height: 60px;
    color: white;
}
.nav {
    display: flex;
    justify-content: end;
    margin-right: 50px;
    gap: 20px;
    height: 50px;
    align-items: center;
    color: white;
}

.img {
    width: 250px;
    border-radius: 50%;
    border: 15px solid rgba(13, 4, 38, 0.934);
}

.main {
    background-color: rgb(204, 216, 227);
}
.about {
    width: 50%;
}
.container-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo-name {
    display: flex;
    align-items: center;
}
.name {
    margin-top: 5px;
}

.container-footer {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: brown;
}
.rs-logo {
    width: 90px;
}
.git-logo {
    width: 80px;
}